.graphBox {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1em;
  background-color: #323546;
}

.chartWrapper {
  height: 400px;
  margin: 1em auto;
  width: 100%;
}

.graphTextContainer {
  background-color: #efefef;
  padding: 1em;
}

.changeGraphButtonContainer {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 680px) {
  .changeGraphButtonContainer {
    margin-bottom: 1em;
  }
}
